button {
  border: none;
  cursor: pointer;
  outline: none;

  padding: 14px 25px;
  border-radius: 5px;
}

button:not(:last-child) {
  margin-right: 7px;
}

.button-set {
  text-align: center;
}

.button--red {
  background-color: rgb(230, 69, 69);
  color: aliceblue;
}
.button--yellow {
  background-color: yellow;
}
.button--green {
  background-color: rgb(55, 160, 55);
  color: aliceblue;
}
