button {
  border: none;
  cursor: pointer;
  outline: none;

  padding: 14px 25px;
  border-radius: 5px;
}

button:not(:last-child) {
  margin-right: 7px;
}

.button-set {
  text-align: center;
}

.button--red {
  background-color: #e64545;
  color: #f0f8ff;
}
.button--yellow {
  background-color: #ffff00;
}
.button--green {
  background-color: #37a037;
  color: aliceblue;
}
